In [5]:
using JuMP
using GLPK
using DataFrames

In [6]:
cost_and_effectiveness = DataFrame(Vaccine_Type=[:A, :B, :C, :D], 
                           Cost=[2., 5., 3., 4.],
                           Effectiveness=[50.,70.,60.,80])

4×3 DataFrame
 Row │ Vaccine_Type  Cost     Effectiveness
     │ Symbol        Float64  Float64
─────┼──────────────────────────────────────
   1 │ A                 2.0           50.0
   2 │ B                 5.0           70.0
   3 │ C                 3.0           60.0
   4 │ D                 4.0           80.0

In [7]:
cost_per_vaccine_per_time = DataFrame(Vaccine_Type=[:A, :B, :C, :D],
                                                T₀=[2., 5., 3., 4],
                                                T₁=[1.8, 4.5, 2.7, 3.6],
                                                T₂=[1.62, 4.05, 2.43, 3.24],
                                                T₃=[1.458, 3.645, 2.187, 2.916],
                                                T₄=[1.3122, 3.2805, 1.9683, 2.6244],
                                                T₅=[1.18098, 2.95245, 1.77147, 2.36196 ],
                                                T₆=[1.062882, 2.657205, 1.594323, 2.125764],
                                                T₇=[0.956594, 2.391485, 1.4348, 1.913188])

4×9 DataFrame
 Row │ Vaccine_Type  T₀       T₁       T₂       T₃       T₄       T₅       T₆  ⋯
     │ Symbol        Float64  Float64  Float64  Float64  Float64  Float64  Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ A                 2.0      1.8     1.62    1.458   1.3122  1.18098  1.0 ⋯
   2 │ B                 5.0      4.5     4.05    3.645   3.2805  2.95245  2.6
   3 │ C                 3.0      2.7     2.43    2.187   1.9683  1.77147  1.5
   4 │ D                 4.0      3.6     3.24    2.916   2.6244  2.36196  2.1
                                                               2 columns omitted

In [8]:
population = DataFrame(Age_range=["0-5", "6-18", "19-65","65+"],
                       Population=[19200, 54400, 268400, 58000])

4×2 DataFrame
 Row │ Age_range  Population
     │ String     Int64
─────┼───────────────────────
   1 │ 0-5             19200
   2 │ 6-18            54400
   3 │ 19-65          268400
   4 │ 65+             58000

In [10]:
effectiveness_per_population = DataFrame(Age_range=["0-5", "6-18", "19-65","65+"],
                                        A=[75., 50., 50.,50],
                                        B=[70.,85.,70.,70.],
                                        C=[60.,60.,75.,60.],
                                        D=[65.,65.,65.,80.])

4×5 DataFrame
 Row │ Age_range  A        B        C        D
     │ String     Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────────
   1 │ 0-5           75.0     70.0     60.0     65.0
   2 │ 6-18          50.0     85.0     60.0     65.0
   3 │ 19-65         50.0     70.0     75.0     65.0
   4 │ 65+           50.0     70.0     60.0     80.0

In [ ]:
function resultant_value(vaccine_type)
    e =

In [17]:
getindex(cost_and_effectiveness, :A)

LoadError: ArgumentError: syntax df[column] is not supported use df[!, column] instead